sudo: false
language: ruby
before_install:
  - gem update --system
  - gem install bundler -v 1.15.4

matrix:
  fast_finish: true
  include:
    - rvm: ruby-head
      gemfile: gemfiles/railsmaster.gemfile
    - rvm: jruby-9.1.0.0
      gemfile: gemfiles/jruby.gemfile
    - rvm: 2.5.0
      gemfile: Gemfile
    - rvm: 2.4.1
      gemfile: Gemfile
    - rvm: 2.4.1
      gemfile: gemfiles/default_factory_girl.gemfile
    - rvm: 2.4.1
      gemfile: gemfiles/rspec32.gemfile
    - rvm: 2.4.1
      gemfile: gemfiles/rspec33.gemfile
    - rvm: 2.3.1
      gemfile: Gemfile
    - rvm: 2.3.1
      gemfile: gemfiles/activerecord42.gemfile
  allow_failures:
    - rvm: ruby-head
      gemfile: gemfiles/railsmaster.gemfile
    - rvm: jruby-9.1.0.0
      gemfile: gemfiles/jruby.gemfile
