name: Build

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  rspec:
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.7]
        gemfile: ["gemfiles/activerecord6.gemfile"]
        db: ["postgres"]
        include:
        - ruby: 3.0
          gemfile: "gemfiles/activerecord6.gemfile"
          db: "sqlite"
        - ruby: 2.7
          gemfile: "gemfiles/railsmaster.gemfile"
          db: "sqlite"
        - ruby: 2.7
          gemfile: "gemfiles/activerecord60.gemfile"
          db: "postgres"
        - ruby: 2.6
          gemfile: "gemfiles/activerecord5.gemfile"
          db: "sqlite-file"
        - ruby: 2.5
          gemfile: "gemfiles/activerecord5.gemfile"
          db: "sqlite"
    services:
      postgres:
        image: postgres:12
        ports: ["5432:5432"]
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v1
      with:
        path: /home/runner/bundle
        key: bundle-${{ matrix.ruby }}-${{ matrix.gemfile }}-${{ hashFiles(matrix.gemfile) }}-${{ hashFiles('**/*.gemspec') }}
        restore-keys: |
          bundle-${{ matrix.ruby }}-${{ matrix.gemfile }}-
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install system deps
      run: |
        sudo apt-get update
        sudo apt-get install libsqlite3-dev libpq-dev postgresql-client-12
    - name: Bundle install
      run: |
        bundle config path /home/runner/bundle
        bundle config --global gemfile ${{ matrix.gemfile }}
        bundle install
        bundle update
    - name: Run RSpec
      env:
          DB: ${{ matrix.db }}
          DATABASE_URL: postgres://postgres:postgres@localhost:5432
          DB_NAME: postgres
      run: |
        bundle exec rspec --force-color

